.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    flex: 1;
    max-width: 100%;
    overflow-x: hidden;
}

article.content {
    max-width: 100%;
    overflow-x: hidden;
}

.sidebar {
    width: 100%;
}
