@inject NavigationManager NavigationManager
<div class="bottom-nav">
    <NavLink href="" Match="NavLinkMatch.All" class="nav-item">
        <i class="bi bi-house-door"></i>
        <span class="navtext">Dashboard</span>
    </NavLink>

    <NavLink href="calendar" class="nav-item">
        <i class="bi bi-calendar"></i>
        <span class="navtext">Kalender</span>
    </NavLink>

    <NavLink href="recognition" Match="NavLinkMatch.All" class="nav-item">
        <i class="bi bi-leaf"></i>
        <span class="navtext">Herkenning</span>
    </NavLink>

    <NavLink href="settings" class="nav-item">
        <i class="bi bi-gear"></i>
        <span class="navtext">Instellingen</span>
    </NavLink>
</div>


