.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    max-width: 100vw;
}

.navtext {
    display: flex;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-align: center;
    color: #444;
    text-decoration: none;
    font-size: 0.9rem;
    flex: 1;
}

    .nav-item i {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1;
    }

@media (max-width: 600px) {
    .nav-item span {
        font-size: 0.75rem;
    }

    .nav-item i {
        font-size: 1.2rem;
    }
}


