.slidein1 {
    animation: slideIn 0.3s ease-out;
}

.slidein2 {
    animation: slideIn 0.4s ease-out;
}

.slidein3 {
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    20% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
